<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission
      android:name="android.permission.WRITE_EXTERNAL_STORAGE"
      android:maxSdkVersion="18"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <application
      android:name=".MyApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:theme="@style/Theme.RHVoice">
    <service
        android:label="@string/app_name"
        android:name=".RHVoiceService"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.TTS_SERVICE"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
      <meta-data android:name="android.speech.tts" android:resource="@xml/tts_engine"/>
    </service>
    <activity
        android:name=".CheckTTSData"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoDisplay"
        android:exported="true">
      <intent-filter>
        <action android:name="android.speech.tts.engine.CHECK_TTS_DATA"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".SampleTextActivity"
        android:theme="@android:style/Theme.NoDisplay"
        android:exported="true">
      <intent-filter>
        <action android:name="android.speech.tts.engine.GET_SAMPLE_TEXT"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".SettingsActivity"
        android:label="@string/settings"
        android:exported="true">
    </activity>
    <!-- Ekran glosow wlasnych (funkcja forka).
         exported=true JEST TU KONIECZNE: bez tego system nie moze pokazac naszej
         apki na liscie "Otworz za pomoca" dla paczki glosu. Ekran nie robi nic
         niebezpiecznego bez potwierdzenia - pokazuje liste glosow i importuje
         DOKLADNIE ten plik, ktory uzytkownik sam wskazal w menedzerze plikow. -->
    <activity
        android:name=".LocalVoicesActivity"
        android:label="@string/local_voices"
        android:exported="true">
      <!-- Paczki rozpoznane po TYPIE tresci. Dodatek NVDA i paczka androidowa
           to archiwa ZIP, wiec menedzery plikow podaja najczesciej jeden z tych
           typow (nvda-addon nie ma wlasnego zarejestrowanego typu MIME). -->
      <intent-filter android:label="@string/local_voice_install">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="content"/>
        <data android:scheme="file"/>
        <data android:mimeType="application/zip"/>
        <data android:mimeType="application/x-zip-compressed"/>
        <data android:mimeType="application/octet-stream"/>
      </intent-filter>
      <!-- Paczki rozpoznane po ROZSZERZENIU nazwy - dla menedzerow, ktore podaja
           typ ogolny albo zaden. mimeType="*&#47;*" jest tu zawezone wzorcem
           sciezki, wiec apka NIE zglasza sie do wszystkich plikow. -->
      <intent-filter android:label="@string/local_voice_install">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="content"/>
        <data android:scheme="file"/>
        <data android:mimeType="*/*"/>
        <data android:host="*"/>
        <data android:pathPattern=".*\\.nvda-addon"/>
        <data android:pathPattern=".*\\..*\\.nvda-addon"/>
        <data android:pathPattern=".*\\..*\\..*\\.nvda-addon"/>
      </intent-filter>
      <!-- Udostepnienie pliku przez "Wyslij do" / "Udostepnij". -->
      <intent-filter android:label="@string/local_voice_install">
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="application/zip"/>
        <data android:mimeType="application/x-zip-compressed"/>
        <data android:mimeType="application/octet-stream"/>
      </intent-filter>
    </activity>
    <receiver
        android:name=".OnMyPackageReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
      </intent-filter>
    </receiver>    
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.speech.tts.engine.INSTALL_TTS_DATA"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <service android:name=".ImportConfigService"
             android:exported="false"/>
  </application>
</manifest>
